<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<Product Id="*" Name="PhotoSorter" Language="1049" Version="1.0.0.3" Manufacturer="Anton Burdin" UpgradeCode="89505ef3-14f2-4b10-8571-72932d5b380e" Codepage="1251">
		<Package InstallerVersion="300" Compressed="yes" InstallScope="perMachine" SummaryCodepage="1251" Description="Пакет установки PhotoSorter" Manufacturer="Anton Burdin"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate CabinetTemplate="cab{0}.cab" EmbedCab="yes" CompressionLevel="high"/>

		<Feature Id="Complete" Title="PhotoSorter" Level="1" Description="Полная установка PhotoSorter" ConfigurableDirectory="INSTALLFOLDER" AllowAdvertise="no" Absent="disallow" InstallDefault="local">
      <ComponentRef Id="PhotoSorterExeComponent"/>
      <ComponentRef Id="ProgramMenuDir"/>
      <ComponentRef Id="ProgramsMenuShortcut"/>
		</Feature>
	</Product>
	<Fragment>
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_45_OR_LATER_INSTALLED"/>
    <Condition Message="This application requires .NET Framework 2.0. Please install the .NET Framework then run this installer again.">
        <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_45_OR_LATER_INSTALLED]]>
    </Condition>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="PhotoSorter" />
			</Directory>
      <Directory Id="ProgramMenuFolder">         
        <Directory Id="ProgramMenuDir" Name="PhotoSorter" />
      </Directory> 
      <Directory Id="DesktopFolder" />
		</Directory>
    <Icon Id="PhotoSorter.exe" SourceFile="$(var.PhotoSorter.TargetPath)"/>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="PhotoSorterExeComponent" Guid="{EB0B92FF-1EB8-4121-910A-3F998F5D6D52}">
        <File Id="PhotoSorterExe" Name="$(var.PhotoSorter.TargetFileName)" Source="$(var.PhotoSorter.TargetPath)" DiskId="1" KeyPath="yes">
          <netfx:NativeImage Id="NativeImagePhotoSorterExe" Platform="all" Dependencies="yes" Priority="0"/>
          <Shortcut Id="DesktopShortcut" Name="PhotoSorter" Description="Ярлык для PhotoSorter" Directory="DesktopFolder" Advertise="yes" Icon="PhotoSorter.exe" WorkingDirectory="INSTALLFOLDER"/>
          <Shortcut Id="ProgramsMenuShortcut" Name="PhotoSorter" Description="Запускает программу PhotoSorter" WorkingDirectory="INSTALLLOCATION" Directory="ProgramMenuDir" Advertise="yes" Icon="PhotoSorter.exe"/> 
        </File>
      </Component>
    </DirectoryRef>
   <DirectoryRef Id="ProgramMenuDir">
     <Component Id="ProgramMenuDir" Guid="{9FA19A06-84F1-45B8-B1F2-927E4838F9EF}">
       <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
       <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
    </Component>
  </DirectoryRef>
  <DirectoryRef Id="ProgramMenuDir">
    <Component Id="ProgramsMenuShortcut" Guid="{BBA0EFB8-39EF-4FCE-AB4D-B594891C6D21}">
      <Shortcut Id="UninstallProduct" Name="Удалить PhotoSorter" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" Description="Удаляет PhotoSorter с данного компьютера" />
      <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </DirectoryRef>
  </Fragment>
  <Fragment>
   <UI Id="MyWixUI_Mondo">
     <UIRef Id="WixUI_Mondo" /> 
     <UIRef Id="WixUI_ErrorProgressText" />
   </UI>
  </Fragment>
</Wix>
